torch
numpy
sounddevice
scipy
openai-whisper
python-docx
reportlab
# To set up the environment, run the following commands:
# Install ffmpeg using winget
winget install Gyan.FFmpeg
# Install the required Python packages
pip install -r requirements.txt 



# run as per the sequence 
# python record_meeting.py
# python transcribe.py
# python action_items.py
# python mom_generator.py
# python export_word.py
# python export_pdf.py
