torch 
sounddevice 
scipy 
python-docx 
reportlab
winget install Gyan.FFmpeg
pip install -U openai-whisper
pip install python-docx
pip install reportlab



# run as per the sequence 
# python record_meeting.py
# python transcribe.py
# python action_items.py
# python mom_generator.py
# python export_word.py
# python export_pdf.py
